<h1>Burgers!</h1>

<h2>Freshly Made Burgers!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <p>{{burger_name}}</p>
  <form class="pull-right" action="/{{id}}?_method=PUT" " method="POST">
    <input type="hidden" name="devoured" value="true">
    <button class="btn btn-default btn-danger" type="submit">Eat!</button>
  </form>
  {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <p>{{burger_name}}</p>
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="text-center" action="/" method="POST">

  <div class="form-group">
    <label for="burger_name">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>
